<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.etracker.cc/BulkSMS/SoapService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpService"
                contract="SoapService.ISoapService" name="basicHttpService" />
        </client>
    </system.serviceModel>
</configuration>